<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mackes Movies</title>
    <script defer src="/assets/javascript/main.js"></script>
    <link rel="stylesheet" href="/assets/css/styles.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Chela+One&family=Mulish:wght@200&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1 id="main-title">Mackes Movies</h1>
    <h3 id="secondary-title">Vi har alla filmer du bryr dig om!</h3>
    <button id="getAllMoviesBtn" class="btn">
      Klicka här för att se alla filmer vi har!
    </button>
    <button id="createMovie" class="btn">
      Klicka här för att skapa en egen film!
    </button>

    <main id="main-content"></main>
  </body>
</html>
